<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de Progreso</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="progreso_Azul" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso_Azul + '%'"></div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="progreso_Verde" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso_Verde + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador iLeyenda="Progress Azul" [iProgreso]="progreso_Azul" (OCambioValor)="progreso_Azul = $event"></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador iLeyenda="Progress Verde" [iProgreso]="progreso_Verde" (OCambioValor)="progreso_Verde = $event"></app-incrementador>
            </div>
        </div>
    </div>
</div>